<div id="contact" class="container">
  <div class="d-flex flex-column align-items-center my-3">
    <div class="row d-flex justify-content-center">
      <h1 class="col-10 col-sm-12">Care to chat?</h1>
    </div>
    <div class="row d-flex justify-content-center">
      <p class="col-8">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate nihil quae doloribus laboriosam quasi aspernatur excepturi omnis obcaecati atque ut, quisquam incidunt maiores sapiente eius eligendi velit quia, dolorum error!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate nihil quae doloribus laboriosam quasi aspernatur excepturi omnis obcaecati atque ut, quisquam incidunt maiores sapiente eius eligendi velit quia, dolorum error!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate nihil quae doloribus laboriosam quasi aspernatur excepturi omnis obcaecati atque ut, quisquam incidunt maiores sapiente eius eligendi velit quia, dolorum error!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate nihil quae doloribus laboriosam quasi aspernatur excepturi omnis obcaecati atque ut, quisquam incidunt maiores sapiente eius eligendi velit quia, dolorum error!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate nihil quae doloribus laboriosam quasi aspernatur excepturi omnis obcaecati atque ut, quisquam incidunt maiores sapiente eius eligendi velit quia, dolorum error!</p>
    </div>
  </div>
</div>
