<div id="projects" class="container projects-container">
  <div class="d-flex flex-column align-items-center my-3">
    <div class="row d-flex justify-content-center">
      <h1 class="col-10 col-sm-12">What I've been up to...</h1>
    </div>
    <div class="tabs">
      <input type="radio" id="tab1" name="tabs" checked="checked">
      <label for="tab1">SK8IT</label>
      <div class="tab">
        <div class="row d-flex justify-content-around">
          <div class="col-12 col-xs-10 col-sm-8 col-md-6 col-lg-4">
            <%= image_tag "sk8it-demo.gif", class: "sk8it img-shadow" %>
          </div>
          <div class="col-lg-6 mt-5">
            <h2>SK8IT - Project Manager</h2>
            <p>A project my team and I build in two weeks. Skaters can search for new skate shops, skate parks, or other skate spots that others have found and uploaded. There is also a community aspect where skaters can upload videos so others can watch, comment on, and upvote.</p>
            <p><strong>Notable features:</strong> When uploading a location, the app will generate the address based off of the uploaded photo's geolocational meta-data. When skaters are near the spot, the app will prompt the skater to "check in" to the spot so that other skaters can see who is at the spot.</p>
            <% link_to "https://www.github.com/anthonytjohnson/sk8it", target: :_blank do %>
              <i class="fas fa-code"></i>
            <% end %>
            <% link_to "https://www.sk8it.me", target: :_blank do %>
              <i class="fas fa-desktop"></i>
            <% end %>
          </div>
        </div>
      </div>
      <input type="radio" id="tab2" name="tabs">
      <label for="tab2">AirSocks</label>
      <div class="tab">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 col-lg-6">
            <%= image_tag "airsocks-demo.gif", class: "airsocks img-shadow" %>
          </div>
          <div class="col-10 mt-5">
            <h2>AirSocks - Lead Dev</h2>
            <p>A humorous week-long project sprint meant to be a light take on a marketplace-like web app. Users can rent or rent out socks from others. The owners of the sock(s) can then accept or reject pending bookings.</p>
            <p><strong>Challenges faced:</strong> I was in charge of most of the design for this project. One thing I learned was how important it is to design with responsiveness in mind. After deploying the app, I realized the layout needed a massive rehaul on mobile devices. Lesson learned.. I had made it my goal to study much more about responsive design after that.</p>
            <% link_to "https://github.com/deetorz/AirSocks", target: :_blank do %>
              <i class="fas fa-code"></i>
            <% end %>
            <% link_to "https://airsocks.herokuapp.com/", target: :_blank do %>
              <i class="fas fa-desktop"></i>
            <% end %>
          </div>
        </div>
      </div>
      <%# <input type="radio" id="tab3" name="tabs">
      <label for="tab3">SunStrife</label>
      <div class="tab">
        <h2>SunStrife</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime quaerat voluptate, aperiam laudantium cum est repudiandae sapiente voluptatum iste in tempora earum temporibus ab cumque, incidunt quisquam, aut vitae nobis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos consectetur vel, ipsa beatae sapiente ullam perspiciatis sint? Molestias, deleniti est! Nesciunt modi aliquam quisquam aperiam iste at voluptate eligendi atque!</p>
      </div> %>
    </div>
  </div>
</div>
