<div id="skills" class="skills-container my-5">
  <div class="d-flex flex-column align-items-center my-3">
    <div class="row d-flex justify-content-center">
      <h1 class="col-12">Tech Stack and Skills</h1>
    </div>
    <div class="row d-flex justify-content-around" style="width: 100%">
      <div class="d-flex flex-column align-items-center col-10 col-sm-4">
        <h2>Languages</h2>
        <ul>
          <li><span><i class="devicon-ruby-plain colored"></i></span> Ruby / <span><i class="devicon-rails-plain colored"></i></span> Rails</li>
          <li><span><i class="devicon-html5-plain colored"></i></span> HTML</li>
          <li><span><i class="devicon-css3-plain colored"></i></span> CSS / <span><i class="devicon-sass-original colored"></i></span> Sass / <span><i class="devicon-bootstrap-plain colored"></i></span> Bootstrap</li>
          <li><span><i class="devicon-javascript-plain"></i></span> JavaScript</li>
        </ul>
      </div>
      <div class="d-flex flex-column align-items-center col-10 col-sm-4">
        <h2>Tools</h2>
        <ul>
          <li><span><i class="devicon-git-plain colored"></i></span> Git / <span><i class="devicon-github-original colored"></i></span> GitHub</li>
          <li><span><i class="devicon-figma-plain colored"></span></i> Figma</li>
          <li><span><i class="devicon-heroku-original colored"></i></span> Heroku</li>
          <li><span><i class="devicon-postgresql-plain colored"></i></span> PostgreSQL</li>
        </ul>
      </div>
      <div class="d-flex flex-column align-items-center col-10 col-sm-4">
        <h2>Skills</h2>
        <ul>
          <li>English (Native)</li>
          <li>Japanese (Daily Conversation)</li>
          <li>Responsive Design</li>
          <li>OOP</li>
          <li>Web Scraping</li>
        </ul>
      </div>
    </div>
  </div>
</div>
