// Define variables for your color scheme

// For example:
$red: #e76161;
$blue: #90eded;
$yellow: #FFF9C4;
$orange: #edbf90;
$green: #bfed90;
$gray: #0E0000;
$light-gray: #bbbbbb;
$purple: #9090ed;
$pink: rgb(243, 166, 166)
