.hero-container {
  height: 80vh;
  width: 100vh;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
