.hero-container {
  height: 100vh;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.about-container {
  height: auto;
  background-color: rgb(243, 166, 166);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.projects-container a{
  color: black;
  font-size: 2rem;
  margin: 8px 16px;
  &:hover {
    color: $blue;
  }
}
.skills-container {
  height: auto;
  width: 100%;
  background-color: rgb(243, 166, 166);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.skills-container ul {
  list-style: none;
  text-align: start;
  padding: 0;
  width: 200px;
}
.contact-container {
  height: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-container a{
  color: black;
  font-size: 2rem;
  margin: 8px 16px;
  &:hover {
    color: $blue;
  }
}
.form-container {
  padding-bottom: 24px;
}
