.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 50px auto;
}
.tabs input[type="radio"] {
  display: none;
}
.tabs label {
  padding: 16px;
  background: rgb(243, 166, 166);
  font-weight: bold;
  margin-bottom: 0;
  margin-right: 4px;
  width: 6rem;
  text-align: center;
}
.tabs .tab {
  width: 100%;
  padding: 20px;
  background: white;
  order: 1;
  display: none;
}
.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}
.tabs input[type="radio"]:checked + label {
  background: $red;
}
