<div>
  <!-- Hero -->
  <%= partial 'partials/hero' %>
  <!-- About -->
  <%= partial 'partials/about' %>
  <!-- Projects -->
  <%= partial 'partials/projects' %>
  <!-- Contact -->
  <%= partial 'partials/contact' %>
</div>
